<section *ngIf="isLoading===false">
  <div class="computers">
    <div class="computer" *ngFor="let desktop of desktops">
      <img class="computer-image" src={{desktop.imageUrl}} alt="">
      <p>{{desktop.description}}</p>
      <p>{{desktop.price}}</p>
      <p>{{desktop.inUse}}</p>
      <a routerLink="/computers/{{desktop._id}}"> See more</a>
      <span *ngIf="isLoggedIn"><button>Add to Rentals</button></span>
    </div>
  </div>
  <hr>
</section>
<app-footer *ngIf="isLoading===false"></app-footer>
<div *ngIf="isLoading">
  <h4>isLoading......</h4>
</div>
