<div class="error-message" *ngIf="errorMessage">
  <p>{{errorMessage}}</p>
</div>

<section [ngClass]="{'show':isLoading==false, 'hide':isLoading!==false }" *ngIf="!errorMessage && isLoading===false">
  <div class="computers">
    <div class="computer" *ngFor="let laptop of laptops">
      <div class="computer-image-container">
        <img class="computer-image" src={{laptop.imageUrl}} alt="">
      </div>
      <p class="details-desc">{{laptop.description}}</p>
      <p class="computer-price">{{laptop.price}}</p>
      <p>{{laptop.inUse}}</p>
      <!-- <a class="see-more" routerLink="/computers/{{laptop._id}}"> See more</a> -->
      <span *ngIf="isLoggedIn"><button class="add-button" (click)="addToBasket(laptop)">Add to Rentals</button></span>

    </div>
  </div>
</section>

<app-footer [ngClass]="{'show':isLoading==false, 'hide':isLoading!==false }"></app-footer>
