<header>
  <div class="nav-container">

    <div class="logo-link">
      <div class="logo">
        <img src="../assets/Logog.png" alt="">
        <a class="" href="/">Computer Rentals</a>
      </div>

      <nav>
        <ul class="nav-links-ul">
          <li class="nav-li"><a class="nav-link" href="">Laptops</a></li>
          <li class="nav-li"><a class="nav-link" href="">Desktop</a></li>
          <li class="nav-li"><a class="nav-link" href="">Servers</a></li>
        </ul>
      </nav>
    </div>


    <span class="auth-span"> <a class="auth-button" role="button" href="">Log In</a>
      <a class="auth-button" role="button" href="">Sign Up</a></span>

  </div>
</header>

<section class="features-section">
  <div>
    <h4>Features</h4>
    <p>Rent different kinds of laptops, PC's, MacBook, Servers according to your preferences, we have it all!</p>
    <div class="cards">

      <article class="services">
        <fa-icon [icon]="faLocation"></fa-icon>
        <h5>We are everywhere</h5>
        <p>We have different branches and service centers across Toronto</p>
      </article>

      <article class="services">
        <fa-icon [icon]="faClock"></fa-icon>

        <h5>Always Available</h5>
        <p>Our qualified and reliable staff will be there to help you 24 x 7.</p>
      </article>

      <article class="services">
        <fa-icon [icon]="faLaptop"></fa-icon>

        <h5>Customizable</h5>
        <p>You can customized preferred specs based on the CPU, Memory, Disk Space, etc.</p>
      </article>

      <article class="services">
        <fa-icon [icon]="faLeaf"></fa-icon>

        <h5>No Hassle</h5>
        <p>Choose your computer, signup, and rent. That's it! its easy.</p>
      </article>

      <article class="services">
        <fa-icon [icon]="faTruck"></fa-icon>

        <h5>Fast Delivery</h5>
        <p>Delivery at your doorstep...fast.....very fast!</p>
      </article>

    </div>

  </div>
  <hr>
</section>
<footer>
  <div>

    <div>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faSnapchat"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>

    <div>
      <a href="">Home</a>
      <a href="">Services</a>

      <a href="">About</a>

      <a href="">Terms</a>

      <a href="">Privacy Policy</a>

    </div>
    <p>Team Did You Restart &c 2022</p>
  </div>
</footer>
