<section>
  <div * ngIf="error">
    <p>{{error}}</p>
  </div>
  <div class="details-div" *ngIf="computer">
    <div class="details-img">
      <img src={{computer!.imageUrl}} alt="">
    </div>

    <div class="description">
      <p>{{computer.description}}</p>
      <p class="computer-price">{{computer.price}}</p>
    </div>

    <div>
      <button class="back-button" type="button" (click)="goBack()">Go back</button>
      <button class="rent" type="button">Rent</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
