section {
  color: rgb(32, 31, 31);

}

.article-h5 {
  margin: 1rem 0;
  font-size: medium;
  font-weight: 700;
}

h4 {
  font-weight: bold;
  text-align: center;
}

.features-description {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

fa-icon {
  color: rgb(235, 189, 130);
}
